@model StudentManager.Model.Model.UserModel.UserModel

<form asp-controller="Accout" asp-action="Register" method="post" id="frmCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <span>Register</span>
    </div>
    @Html.Partial("~/Views/Accout/Partial/_FormInput.cshtml")
    <div class="form-layout-footer mg-t-30 modal-footer" style="padding-top :10px">
        <button onclick="onFormSubmitCreate()" type="submit" class="btn btn-primary bd-0">Register</button>
        <button class="btn btn-secondary bd-0">Cancel</button>
    </div><!-- form-layout-footer -->
</form>
@section Scripts{
<script src="~/js/accoutDatatables.js"></script>
}