@model StudentManager.Model.Model.StudentModels.StudentModel

<form asp-controller="Student" asp-action="Create" method="post" id="frmCreate">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="modal-header">
        <div class="modal-title"></div>
        <span>Create new student</span>
    </div>
    @Html.Partial("~/Views/Student/Partial/_FormInput.cshtml")
    <div class="form-layout-footer mg-t-30 modal-footer" style="padding-top :10px">
        <button onclick="onFormSubmitCreate()" type="submit" class="btn btn-primary bd-0">Create</button>
        <button class="btn btn-secondary bd-0" asp-controller="Student" asp-action="Index">Cancel</button>
    </div><!-- form-layout-footer -->
</form>
@section Scripts{
<script src="~/js/studentDatatable.js"></script>
}